{# filepath: c:\Users\Dylan\Documents\Dev\Projets\Gamepedia\templates\home\index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Jeux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Liste des Jeux</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for game in games %}
            <div class="col">
                <a href="{{ path('app_games_details', {id: game.id}) }}" class="text-decoration-none text-dark">
                    <div class="card h-100">
                        {% if game.backgroundImage %}
                            <img src="{{ game.backgroundImage }}" class="card-img-top" alt="{{ game.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ game.name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}